{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
    Lecture d'une annonce - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

    <div class="row">


        <div class="col-md-12 col-sm-6 col-xs-6">
            {% if advert.image is not null %}
                <p>
                    <img src="{{ advert.image.url }}" alt="{{ advert.image.alt }}" class="img-responsive">
                </p>
            {% endif %}
        </div>

        <div class="col-md-12 col-sm-6 col-xs-6">
            <h2>{{ advert.title }}</h2>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <i>Par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}</i>

            <div class="well">
                {{ advert.content }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% for application in listApplications %}
                <p><strong>{{ application.author }}</strong>, le {{ application.date|date('d/m/Y') }}</p>

                <div class="well">
                    {{ application.content }}
                </div>
            {% endfor %}
        </div>
        <div class="col-md-12">
            {% if not advert.categories.empty %}
                <p>
                    Cette annonce est parue dans les catégories suivantes :
                    {% for category in advert.categories %}
                        {{ category.name }}

                        {% if not loop.last %}
                            ,
                        {% endif %}
                    {% endfor %}
                </p>
            {% endif %}
                <p>
                    Cette annonce requiert les compétences suivantes :
                    <ul>
                        {% for advertSkill in listAdvertSkills %}
                            <li>{{ advertSkill.skill.name }} : niveau {{ advertSkill.level }}</li>
                        {% endfor %}
                    </ul>
                </p>

        </div>
    </div>


    <p>
        <a href="{{ path('oc_platform_home') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste
        </a>
        <a href="{{ path('oc_platform_edit', {'id': advert.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
            Modifier l'annonce
        </a>
        <a href="{{ path('oc_platform_delete', {'id':advert.id}) }}" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i>
            Supprimer l'annonce
        </a>
    </p>
{% endblock %}